<option value="Abrama">Abrama</option>
<option value="Adalaj">Adalaj</option>
<option value="Agol">Agol</option>
<option value="Ahmedabad">Ahmedabad</option>
<option value="Ahwa">Ahwa</option>
<option value="Akrund">Akrund</option>
<option value="Amod">Amod</option>
<option value="Amod">Amod</option>
<option value="Amreli">Amreli</option>
<option value="Amroli">Amroli</option>
<option value="Anand">Anand</option>
<option value="Anjar">Anjar</option>
<option value="Ankleshwar">Ankleshwar</option>
<option value="Babra">Babra</option>
<option value="Bagasara">Bagasara</option>
<option value="Bagasra">Bagasra</option>
<option value="Bakharla">Bakharla</option>
<option value="Balagam">Balagam</option>
<option value="Balasinor">Balasinor</option>
<option value="Balisana">Balisana</option>
<option value="Bamanbore">Bamanbore</option>
<option value="Banas_Kantha">Banas Kantha</option>
<option value="Bandia">Bandia</option>
<option value="Bantva">Bantva</option>
<option value="Bardoli">Bardoli</option>
<option value="Bedi">Bedi</option>
<option value="Bhachau">Bhachau</option>
<option value="Bhadran">Bhadran</option>
<option value="Bhandu">Bhandu</option>
<option value="Bhanvad">Bhanvad</option>
<option value="Bharuch">Bharuch</option>
<option value="Bhatha">Bhatha</option>
<option value="Bhavnagar">Bhavnagar</option>
<option value="Bhayavadar">Bhayavadar</option>
<option value="Bhildi">Bhildi</option>
<option value="Bhojpur_Dharampur">Bhojpur Dharampur</option>
<option value="Bhuj">Bhuj</option>
<option value="Bilimora">Bilimora</option>
<option value="Bilkha">Bilkha</option>
<option value="Borsad">Borsad</option>
<option value="Botad">Botad</option>
<option value="Chaklasi">Chaklasi</option>
<option value="Chalala">Chalala</option>
<option value="Chaloda">Chaloda</option>
<option value="Champaner">Champaner</option>
<option value="Chanasma">Chanasma</option>
<option value="Chhala">Chhala</option>
<option value="Chhota_Udepur">Chhota Udepur</option>
<option value="Chikhli">Chikhli</option>
<option value="Chotila">Chotila</option>
<option value="Chuda">Chuda</option>
<option value="Dabhoda">Dabhoda</option>
<option value="Dabhoi">Dabhoi</option>
<option value="Dahegam">Dahegam</option>
<option value="Dahod">Dahod</option>
<option value="Dakor">Dakor</option>
<option value="Damnagar">Damnagar</option>
<option value="Dandi">Dandi</option>
<option value="Dangs(India)">Dangs (India)</option>
<option value="Danta">Danta</option>
<option value="Dayapar">Dayapar</option>
<option value="Delvada">Delvada</option>
<option value="Delwada">Delwada</option>
<option value="Detroj">Detroj</option>
<option value="Devbhumi_Dwarka">Devbhumi Dwarka</option>
<option value="Devgadh_Bariya">Devgadh Bariya</option>
<option value="Dhandhuka">Dhandhuka</option>
<option value="Dhanera">Dhanera</option>
<option value="Dhansura">Dhansura</option>
<option value="Dharampur">Dharampur</option>
<option value="Dharasana">Dharasana</option>
<option value="Dhari">Dhari</option>
<option value="Dhasa">Dhasa</option>
<option value="Dhola">Dhola</option>
<option value="Dholera">Dholera</option>
<option value="Dholka">Dholka</option>
<option value="Dhoraji">Dhoraji</option>
<option value="Dhrangadhra">Dhrangadhra</option>
<option value="Dhrol">Dhrol</option>
<option value="Dhuwaran">Dhuwaran</option>
<option value="Disa">Disa</option>
<option value="Dohad">Dohad</option>
<option value="Dumkhal">Dumkhal</option>
<option value="Dungarpur">Dungarpur</option>
<option value="Dwarka">Dwarka</option>
<option value="Gadhada">Gadhada</option>
<option value="Gandevi">Gandevi</option>
<option value="Gandhidham">Gandhidham</option>
<option value="Gandhinagar">Gandhinagar</option>
<option value="Gariadhar">Gariadhar</option>
<option value="Ghodasar">Ghodasar</option>
<option value="Ghogha">Ghogha</option>
<option value="Gir_Somnath">Gir Somnath</option>
<option value="Godhra">Godhra</option>
<option value="Gondal">Gondal</option>
<option value="Gorwa">Gorwa</option>
<option value="Halenda">Halenda</option>
<option value="Halol">Halol</option>
<option value="Halvad">Halvad</option>
<option value="Hansot">Hansot</option>
<option value="Harij">Harij</option>
<option value="Harsol">Harsol</option>
<option value="Hathuran">Hathuran</option>
<option value="Himatnagar">Himatnagar</option>
<option value="Idar">Idar</option>
<option value="Jakhau">Jakhau</option>
<option value="Jalalpore">Jalalpore</option>
<option value="Jalalpur">Jalalpur</option>
<option value="Jalia">Jalia</option>
<option value="Jambuda">Jambuda</option>
<option value="Jambusar">Jambusar</option>
<option value="Jamnagar">Jamnagar</option>
<option value="Jarod">Jarod</option>
<option value="Jasdan">Jasdan</option>
<option value="Jetalpur">Jetalpur</option>
<option value="Jetalsar">Jetalsar</option>
<option value="Jetpur">Jetpur</option>
<option value="Jetpur(Navagadh)">Jetpur (Navagadh)</option>
<option value="Jhalod">Jhalod</option>
<option value="Jhulasan">Jhulasan</option>
<option value="Jodhpur">Jodhpur</option>
<option value="Jodhpur(Ahmedabad)">Jodhpur (Ahmedabad)</option>
<option value="Jodia">Jodia</option>
<option value="Jodiya_Bandar">Jodiya Bandar</option>
<option value="Junagadh">Junagadh</option>
<option value="Kachchh">Kachchh</option>
<option value="Kachholi">Kachholi</option>
<option value="Kadi">Kadi</option>
<option value="Kadod">Kadod</option>
<option value="Kalavad">Kalavad</option>
<option value="Kalol">Kalol</option>
<option value="Kandla">Kandla</option>
<option value="Kandla_port">Kandla port</option>
<option value="Kanodar">Kanodar</option>
<option value="Kapadvanj">Kapadvanj</option>
<option value="Karamsad">Karamsad</option>
<option value="Kariana">Kariana</option>
<option value="Karjan">Karjan</option>
<option value="Kathor">Kathor</option>
<option value="Katpur">Katpur</option>
<option value="Kawant">Kawant</option>
<option value="Kayavarohan">Kayavarohan</option>
<option value="Kerwada">Kerwada</option>
<option value="Keshod">Keshod</option>
<option value="Khambhalia">Khambhalia</option>
<option value="Khambhat">Khambhat</option>
<option value="Khavda">Khavda</option>
<option value="Kheda">Kheda</option>
<option value="Khedbrahma">Khedbrahma</option>
<option value="Khedoi">Khedoi</option>
<option value="Kherali">Kherali</option>
<option value="Kheralu">Kheralu</option>
<option value="Kodinar">Kodinar</option>
<option value="Kosamba">Kosamba</option>
<option value="Kothara">Kothara</option>
<option value="Kotharia">Kotharia</option>
<option value="Kukarmunda">Kukarmunda</option>
<option value="Kukma">Kukma</option>
<option value="Kundla">Kundla</option>
<option value="Kutch_district">Kutch district</option>
<option value="Kutiyana">Kutiyana</option>
<option value="Ladol">Ladol</option>
<option value="Lakhpat">Lakhpat</option>
<option value="Lakhtar">Lakhtar</option>
<option value="Lalpur">Lalpur</option>
<option value="Langhnaj">Langhnaj</option>
<option value="Lathi">Lathi</option>
<option value="Limbdi">Limbdi</option>
<option value="Limkheda">Limkheda</option>
<option value="Lunavada">Lunavada</option>
<option value="Madhavpur_Ghed">Madhavpur Ghed</option>
<option value="Madhi">Madhi</option>
<option value="Mahemdavad">Mahemdavad</option>
<option value="Mahesana">Mahesana</option>
<option value="Mahisa">Mahisa</option>
<option value="Mahudha">Mahudha</option>
<option value="Mahuva">Mahuva</option>
<option value="Mahuva(Surat)">Mahuva (Surat)</option>
<option value="Malpur">Malpur</option>
<option value="Manavadar">Manavadar</option>
<option value="Mandal">Mandal</option>
<option value="Mandvi">Mandvi</option>
<option value="Mandvi(Surat)">Mandvi (Surat)</option>
<option value="Mangrol">Mangrol</option>
<option value="Mangrol(Junagadh)">Mangrol (Junagadh)</option>
<option value="Mansa">Mansa</option>
<option value="Meghraj">Meghraj</option>
<option value="Mehsana">Mehsana</option>
<option value="Mendarda">Mendarda</option>
<option value="Mithapur">Mithapur</option>
<option value="Modasa">Modasa</option>
<option value="Morbi">Morbi</option>
<option value="Morva(Hadaf)">Morva (Hadaf)</option>
<option value="Morwa">Morwa</option>
<option value="Mundra">Mundra</option>
<option value="Nadiad">Nadiad</option>
<option value="Nadiad">Nadiad</option>
<option value="Nagwa">Nagwa</option>
<option value="Naldhara">Naldhara</option>
<option value="Naliya">Naliya</option>
<option value="Nargol">Nargol</option>
<option value="Narmada">Narmada</option>
<option value="Naroda">Naroda</option>
<option value="Navsari">Navsari</option>
<option value="Nikora">Nikora</option>
<option value="Nizar">Nizar</option>
<option value="Odadar">Odadar</option>
<option value="Okha">Okha</option>
<option value="Olpad">Olpad</option>
<option value="Paddhari">Paddhari</option>
<option value="Padra">Padra</option>
<option value="Palanpur">Palanpur</option>
<option value="Palanswa">Palanswa</option>
<option value="Palitana">Palitana</option>
<option value="Paliyad">Paliyad</option>
<option value="Palsana">Palsana</option>
<option value="Panch_Mahals">Panch Mahals</option>
<option value="Panchmahal_district">Panchmahal district</option>
<option value="Pardi">Pardi</option>
<option value="Parnera">Parnera</option>
<option value="Patan">Patan</option>
<option value="Pavi_Jetpur">Pavi Jetpur</option>
<option value="Petlad">Petlad</option>
<option value="Pipavav">Pipavav</option>
<option value="Piplod">Piplod</option>
<option value="Porbandar">Porbandar</option>
<option value="Prabhas_Patan">Prabhas Patan</option>
<option value="Prantij">Prantij</option>
<option value="Radhanpur">Radhanpur</option>
<option value="Rajkot">Rajkot</option>
<option value="Rajpipla">Rajpipla</option>
<option value="Rajula">Rajula</option>
<option value="Ranavav">Ranavav</option>
<option value="Ranpur">Ranpur</option>
<option value="Rapar">Rapar</option>
<option value="Reha">Reha</option>
<option value="Roha">Roha</option>
<option value="Sabar_Kantha">Sabar Kantha</option>
<option value="Sachin">Sachin</option>
<option value="Salaya">Salaya</option>
<option value="Samakhiali">Samakhiali</option>
<option value="Sanand">Sanand</option>
<option value="Sankheda">Sankheda</option>
<option value="Sarbhon">Sarbhon</option>
<option value="Sardoi">Sardoi</option>
<option value="Sarkhej">Sarkhej</option>
<option value="Sathamba">Sathamba</option>
<option value="Savarkundla">Savarkundla</option>
<option value="Savli">Savli</option>
<option value="Sayla">Sayla</option>
<option value="Shahpur">Shahpur</option>
<option value="Shivrajpur">Shivrajpur</option>
<option value="Siddhpur">Siddhpur</option>
<option value="Sihor">Sihor</option>
<option value="Sikka">Sikka</option>
<option value="Sinor">Sinor</option>
<option value="Sojitra">Sojitra</option>
<option value="Songadh">Songadh</option>
<option value="Supedi">Supedi</option>
<option value="Surat">Surat</option>
<option value="Surendranagar">Surendranagar</option>
<option value="Sutrapada">Sutrapada</option>
<option value="Talaja">Talaja</option>
<option value="Tankara">Tankara</option>
<option value="Tapi">Tapi</option>
<option value="Than">Than</option>
<option value="Thangadh">Thangadh</option>
<option value="Tharad">Tharad</option>
<option value="Thasra">Thasra</option>
<option value="The_Dangs">The Dangs</option>
<option value="Umarpada">Umarpada</option>
<option value="Umrala">Umrala</option>
<option value="Umreth">Umreth</option>
<option value="Un">Un</option>
<option value="Una">Una</option>
<option value="Unjha">Unjha</option>
<option value="Upleta">Upleta</option>
<option value="Utran">Utran</option>
<option value="Vadgam">Vadgam</option>
<option value="Vadnagar">Vadnagar</option>
<option value="Vadodara">Vadodara</option>
<option value="Vaghodia">Vaghodia</option>
<option value="Vaghodia_INA">Vaghodia INA</option>
<option value="Vallabh_Vidyanagar">Vallabh Vidyanagar</option>
<option value="Vallabhipur">Vallabhipur</option>
<option value="Valsad">Valsad</option>
<option value="Vanala">Vanala</option>
<option value="Vansda">Vansda</option>
<option value="Vanthli">Vanthli</option>
<option value="Vapi">Vapi</option>
<option value="Vartej">Vartej</option>
<option value="Vasa">Vasa</option>
<option value="Vasavad">Vasavad</option>
<option value="Vaso">Vaso</option>
<option value="Vataman">Vataman</option>
<option value="Vejalpur">Vejalpur</option>
<option value="Veraval">Veraval</option>
<option value="Vijapur">Vijapur</option>
<option value="Vinchhiya">Vinchhiya</option>
<option value="Viramgam">Viramgam</option>
<option value="Virpur">Virpur</option>
<option value="Visavadar">Visavadar</option>
<option value="Visnagar">Visnagar</option>
<option value="Vyara">Vyara</option>
<option value="Wadhai">Wadhai</option>
<option value="Wadhwan">Wadhwan</option>
<option value="Waghai">Waghai</option>
<option value="Wankaner">Wankaner</option>
 