{% extends 'main.html' %}
{% load static %}
{% block content %}
<!--//Page Toolbar//-->
<div class="toolbar p-4 bg-body">
    <div class="position-relative container-fluid px-0">
        <div class="row align-items-center position-relative">
            <div class="col-md-5 col-9 mb-4 mb-lg-0">
                <h3 class="mb-2">Edit Party</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">Party</li>
                        <li class="breadcrumb-item active">Edit Party</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-7 col-3 text-md-end">
                <div class="d-flex justify-content-md-end align-items-center">
                    <a href="/Party" class="btn btn-outline-success mb-2 me-2">Back</a>
                </div>
            </div>
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <center>
                    <h3 class="text-success">{{message}}</h3>
                </center>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="content p-4 pt-0 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
        <div class="row justify-content-center">
            <div class="col-md-9 col-12 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="mb-1">Edit Party</h5>
                    </div>
                    <div class="card-body">
                        <form class="row g-3" method="post">
                            {% csrf_token %}
                            <div class="col-md-3">
                                <label for="" class="form-label"><b>Code</b></label>
                                <input type="number" class="form-control" name="Code" value="{{data.Code}}">
                            </div>
                            <div class="col-md-9">
                                <label for="" class="form-label"><b>Party Name</b></label>
                                <input type="text" class="form-control" name="PartyName" value="{{data.PartyName}}">
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                        <div class="col-6">
                                            <label for="" class="form-label"><b>Cluster</b></label>
                                            <select id="inputState" class="form-select" name="Cluster">
                                                <option selected>Choose...</option>
                                                {% for i in Clr %}
                                                <option value="{{i.Name}}" {% if data.Cluster == i.Name %} selected {% endif %}>{{i.Name}}-{{i.Amount}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label for="" class="form-label"><b>City</b></label>
                                            <select id="inputState" class="form-select" name="City">
                                                <option selected >{{data.City}}</option>
                                                {% if data.GSTName == i.GSTName %} selected {% endif %}
                                                {% include "city.html" %}
                                            </select>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="form-label"><b>Branch</b></label>
                                <input type="text" class="form-control" name="Branch" value="{{data.Branch}}">
                            </div>
                            <div class="col-md-12">
                                <label for="" class="form-label"><b>Address</b></label>
                                <textarea class="form-control" id="" rows="2" name="Address">{{data.Address}}</textarea>
                            </div>
                            <div class="col-md-12 ">
                                <label for="" class="form-label"><b>GST No.</b></label>
                                <input type="text" class="form-control" name="GSTNo" value="{{data.GSTNo}}">
                            </div>
                            <div class="col-md-12">
                                <label for="" class="form-label">Nos.</label>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <input type="text" class="form-control" name="NO1" id="" value="{{data.NO1}}">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <input type="text" class="form-control" name="NO2" id="" value="{{data.NO2}}">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <input type="text" class="form-control" name="NO3" id="" value="{{data.NO3}}">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <input type="text" class="form-control" name="NO4" id="" value="{{data.NO4}}">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <input type="text" class="form-control" name="NO5" id="" value="{{data.NO5}}">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <input type="text" class="form-control" name="NO6" id="" value="{{data.NO6}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row justify-content-center">
                                    <button type="submit" class="col-5 btn btn-success m-1">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//Page content End//-->

{% endblock content %}