{% extends 'main.html' %}
{% load static %}
{% block content %}
<!--//Page Toolbar//-->
<div class="toolbar p-4 bg-body">
    <div class="position-relative container-fluid px-0">
        <div class="row align-items-center position-relative">
            <div class="col-md-5 col-9 mb-4 mb-lg-0">
                <h3 class="mb-2">Edit Quotation</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">Quotation</li>
                        <li class="breadcrumb-item active">Edit Quotation</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-7 col-3 text-md-end">
                <div class="d-flex justify-content-md-end align-items-center">
                    <a href="/Quotation" class="btn btn-outline-success mb-2 me-2">Back</a>
                </div>
            </div>
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <center>
                    <h3 class="text-success">{{message}}</h3>
                </center>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="content p-4 pt-0 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="mb-1">Edit Quotation</h5>
                        <p class="test-end">Financial Year : 2023-2024</p>
                    </div>
                    <div class="card-body">
                        <form class="row g-3" method="post" id="formAdd">
                            {% csrf_token %}
                            <div class="col-md-4">
                                <label for="" class="form-label">Quotation No</label>
                                <input type="text" name="QuotationNo" class="form-control" value="{{QuotationNo}}"
                                    readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label">Date</label>
                                <input type="date" name="Date" class="form-control" id="Date">
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">Party Name</label>
                                <input type="hidden" name="Counter" value="{{dt.QuotationNo}}">
                                <select id="Party" name="PartyName" class="form-select">
                                    {% for i in PN %}
                                    <option value="{{i}}" {% if i  == dt.PartyName %} selected {% endif %}>{{i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">City</label>
                                <select id="City" name="City" class="form-select">
                                    <option value="--Select--" class="after">--Select--</option>
                                    {% for i in City %}
                                    <option value="{{i}}" {% if i  == dt.City %} selected {% endif %}>{{i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">Branch</label>
                                <select id="selectType" name="Branch" class="form-select">
                                    <option class="after2" value="--Select--">--Select--</option>
                                    {% for i in Branch %}
                                    <option class="" value="{{i}}" {% if i  == dt.Branch %} selected {% endif %}>{{i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label">Code</label>
                                <input type="text" name="Code" class="form-control" id="Code" value="{{dt.Code}}" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress" class="form-label">Address</label>
                                <textarea class="form-control" id="Address" name="Address" rows="3" readonly>{{dt.Address}}</textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="inputProblem" class="form-label">Problem</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="Problem"
                                    rows="3">{{dt.Problem}}</textarea>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label">Call Ref.:</label>
                                <input type="text" name="CallRef" value="{{dt.CallRef}}" class="form-control" id="">
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label">Call No.</label>
                                <input type="text" name="CallNo" value="{{dt.CallNo}}" class="form-control" id="">
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">Work Engaged</label>
                                <select id="WorkEngagedid" class="form-select" onchange="Others()" name="WorkEngaged">
                                    <option selected value="">Choose...</option>
                                    <option value="Carpenter" {% if dt.WorkEngaged == 'Carpenter' %} selected {% endif %}>Carpenter</option>
                                    <option value="Electrician" {% if dt.WorkEngaged == 'Electrician' %} selected {% endif %}>Electrician</option>
                                    <option value="Plumber" {% if dt.WorkEngaged == 'Plumber' %} selected {% endif %}>Plumber</option>
                                    <option value="Others" {% if dt.WorkEngaged == 'Others' %} selected {% endif %}>Others</option>
                                </select>
                            </div>
                            <div class="col-md-12" id="OthersID" {% if dt.WorkEngaged != 'Others' %} style="display: none;" {% endif %}>
                                <label for="inputCity" class="form-label">Work Engaged Other</label>
                                <input type="text" class="form-control" name="Other" id="">
                            </div>
                            <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Subject</label>
                                <input type="text" class="form-control" id="inputCity" name="Subject" value="{{dt.Subject}}">
                            </div>
                            <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Area Of Work</label>
                                <input type="text" class="form-control" id="inputCity" name="AreaOfWork" value="{{dt.AreaOfWork}}">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress" class="form-label">Remark</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="Remark"
                                    rows="3">{{dt.Remark}}</textarea>
                                <input type="hidden" name="TotalAmount" id="TotalAmount" value="{{TAmount}}">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress" class="form-label">T. & C.</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="TC"
                                    rows="3">{{dt.TC}}</textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <p class="text-danger">Total Amount : <samp id="tamount">{{TAmount}}</samp>.00</p>
                            </div>
                            <div class="col-md-12">
                                <div class="row justify-content-center">
                                    <button type="submit" class="col-5 btn btn-success m-1">Save</button>
                                    <a class="col-5 btn btn-warning m-1"
                                        href="/ClaseQuotation/{{CM.QuotationNo}}">Clase</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="border border-1 rounded row p-2 m-0 mt-3 mb-2">
                    <div class="col-md-12">
                        <form class="row justify-content-center" method="post" id="post-form">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4" id="">
                                        <label for="" class="form-label">Type</label>
                                        <select class="form-select" name="TYPES" id="TYPES" onchange="TYPE()" required>
                                            <option value="RCCode" id="RCCodeSLT">RC Code</option>
                                            <option value="NonRCCode" id="NonRCCodeSLT">Non RC Code</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8" id="RCcodeF">
                                        <div id="RC">
                                            <label for="" class="form-label">RC Code</label>
                                            <select class="form-select" name="RCCode" id="RCCode" required>
                                                <option>--Select--</option>
                                                {% for i in RC %}
                                                <option value="{{i.CodeNo}}">{{i.CodeNo}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div id="NRC" style="display: none;">
                                            <label for="" class="form-label">Non RC Code</label>
                                            <input type="text" class="form-control" name="NRCCode" id="NRCCode">
                                        </div>
                                        <input type="hidden" name="sid" id="sid">
                                        <input type="hidden" id="Counter" value="{{CM.QuotationNo}}">
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label for="inputAddress" class="form-label">Description</label>
                                    <textarea class="form-control" id="RCDescription" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="inputCity" class="form-label">Quantity</label>
                                        <input type="number" class="form-control" id="Quantity" placeholder="0"
                                            required>
                                    </div>
                                    <div class="col-6">
                                        <label for="inputCity" class="form-label">Rate</label>
                                        <input type="number" class="form-control" id="Rate" placeholder="0" required>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <label for="inputCity" class="form-label">Labour</label>
                                        <input type="number" class="form-control" id="Labour" value="0" placeholder="0">
                                    </div>
                                    <div class="col-6 mt-2">
                                        <label for="inputCity" class="form-label">Amount</label>
                                        <input type="number" class="form-control" id="Amount" placeholder="0" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <button type="submit" class="col-6 mt-2 btn btn-success">Save</button>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-12">
                        <div class="card mt-4" id=''>
                            <div class="table-responsive p-2">
                                <table id="" class="table">
                                    <thead class="text-uppercase small text-muted">
                                        <tr>
                                            <th>RC Code</th>
                                            <th>Quantity</th>
                                            <th>Rate</th>
                                            <th>Labour</th>
                                            <th>Amount</th>
                                            <th>RC Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        {% for i in RCM %}
                                        {% if i.Counter == dt.QuotationNo %}
                                        <tr>
                                            <td>{{i.RCCode}}</td>
                                            <td>{{i.Quantity}}</td>
                                            <td>{{i.Rate}}</td>
                                            <td>{{i.Labour}}</td>
                                            <td>{{i.Amount}}</td>
                                            <td>{{i.RCDescription}}</td>
                                            <td>
                                                <a type="button" class="btn btn-success btn-edit btn-sm ms-2"
                                                    data-sid="{{i.id}}"><i class="bi bi-pen fs-5"></i></a>
                                                <a type="button" class="btn btn-danger btn-del btn-sm ms-2"
                                                    data-sid="{{i.id}}"><i class="bi bi-trash fs-5"></i></a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Total Amount: </th>
                                            <th><span id="tamount2">{{TAmount}}</span></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//Page content End//-->


{% endblock content %}

{% block script %}
{% include 'qajex.html' %}
<script>
    function formatDate(d) {
        let day = ("0" + d.getDate()).slice(-2);
        let month = ("0" + (d.getMonth() + 1)).slice(-2);
        let year = d.getFullYear();
        return `${year}-${month}-${day}`;
    }
    DF = new Date('{{dt.Date}}')
    document.getElementById("Date").value = formatDate(DF);
    $("#formAdd select[name='PartyName']").on('change', function () {
        var $this = $(this);
        if ($this.val() != '') {
            $("#formAdd select[name='City']").find('.after').nextAll().remove();
            $("#formAdd select[name='Branch']").find('.after2').nextAll().remove();
            $('#Code').val('');
            $('#Cluster').val('');
            $('#Address').val('');
            $.ajax({
                url: '/Citys',
                type: 'POST',
                data: { value: $this.val() },
                success: function (resp) {
                    let options = '';
                    resp.City.forEach(City => {
                        options += '<option value=' + City + '>' + City + '</option>';
                    });
                    $("#formAdd select[name='City']").find('.after').after(options);
                },
                error: function (resp) {
                    console.log('Something went wrong');
                }
            });
        } else {
            $("#formAdd ").find('.after').nextAll().remove();
        }
    });
    $("#formAdd select[name='City']").on('change', function () {
        var $this = $(this);
        if ($this.val() != '') {
            $("#formAdd select[name='Branch']").find('.after2').nextAll().remove();
            $.ajax({
                url: '/Branch/' + $this.val(),
                type: 'GET',
                success: function (resp) {
                    let options = '';
                    resp.Branch.forEach(City => {
                        City2 = City.replace(" ", "%20");
                        options += '<option value=' + City2 + '>' + City + '</option>';
                    });
                    $("#formAdd select[name='Branch']").find('.after2').after(options);
                },
                error: function (resp) {
                    console.log('Something went wrong');
                }
            });
        } else {
            $("#formAdd select[name='Branch']").find('.after2').nextAll().remove();
        }
    });
    $("#formAdd select[name='Branch']").on('change', function () {
        var $this = $(this);
        if ($this.val() != '') {
            var $Party = $('#Party');
            var $City = $('#City');
            $.ajax({
                url: '/PartyData',
                type: 'POST',
                data: { Party: $Party.val(), City: $City.val(), Branch: $this.val() },
                success: function (resp) {
                    $('#Code').val(resp.RC);
                    $('#Cluster').val(resp.CL + " -- " + resp.AL);
                    $('#Address').val(resp.AD);
                },
                error: function (resp) {
                    console.log('Something went wrong');
                }
            });
        } else {
            $("#formAdd select[name='Branch']").find('.after2').nextAll().remove();
        }
    });
    var $Quantity = $('#Quantity');
    var $Rate = $('#Rate');
    var $Labour = $('#Labour');
    var $Amount = $('#Amount');

    function calcVal() {
        var num1 = $Quantity.val();
        var num2 = $Rate.val();
        var num3 = $Labour.val();
        if (num3 == '') {
            num3 = 0;
        }
        if (num1 == '') {
            num1 = 0;
        }
        var total_amount = parseInt(num1) * parseInt(num2) + parseInt(num3);
        if (!isNaN(total_amount)) {
            $Amount.val(total_amount);
        }
    }
    $Quantity.on("keydown keyup", function () {
        calcVal();
    });
    $Rate.on("keydown keyup", function () {
        calcVal();
    });
    $Labour.on("keydown keyup", function () {
        calcVal();
    });
    $("#RCcodeF select[name='RCCode']").on('change', function () {
        var $this = $(this);
        if ($this.val() != '') {
            RC = $this.val();
            mydata = { RC: RC };
            $.ajax({
                type: "POST",
                url: '/RCCODE',
                data: mydata,
                success: function (resp) {
                    RCV = $('#Rate');
                    RCV.val(resp.RC);
                },
                error: function (resp) {
                    console.log('Something went wrong');
                }
            });
        } else {
            console.log('Something went wrong');
        }
    });
    // var $NRCCode = $('#NRCCode');
    // function NonRC(){
    //     var $this = $("#NRCCode");
    //     if ($this.val() != '') {
    //         RC = $this.val();
    //         mydata = { RC: RC };
    //         $.ajax({
    //             type: "POST",
    //             url: '/RCCODE',
    //             data: mydata,
    //             success: function (resp) {
    //                 RCV = $('#Rate');
    //                 RCV.val(resp.RC);
    //             },
    //             error: function (resp) {
    //                 console.log('Something went wrong');
    //             }
    //         });
    //     } else {
    //         console.log('Something went wrong');
    //     }
    // }
    // $NRCCode.on("keydown keyup", function () {
    //     NonRC();
    // });
    var $WorkEngagedid = $('#WorkEngagedid');
    function Others() {
        var num1 = $WorkEngagedid.val();
        if (num1 == "Others") {
            let get = document.getElementById('OthersID');
            get.style.display = "block";
        }
        else {
            let get = document.getElementById('OthersID');
            get.style.display = "none";
        }

    }
    var $TYPES = $('#TYPES');
    function TYPE() {
        var num1 = $TYPES.val();
        if (num1 == "RCCode") {
            let get = document.getElementById('RC');
            get.style.display = "block";
            let get2 = document.getElementById('NRC');
            get2.style.display = "none";
        }
        else {
            let get = document.getElementById('RC');
            get.style.display = "none";
            let get2 = document.getElementById('NRC');
            get2.style.display = "block";
        }

    }
</script>
{% endblock script %}