{% extends 'main.html' %}
{% load static %}
{% block content %}
<!--//Page Toolbar//-->
<div class="toolbar p-4 bg-body">
    <div class="position-relative container-fluid px-0">
        <div class="row align-items-center position-relative">
            <div class="col-md-5 col-9 mb-1 mb-lg-0">
                <h3 class="mb-2">Invoice Details</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Invoice Details</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-7 col-3 text-md-end">
                <div class="d-flex justify-content-md-end align-items-center">
                    <a type="button" class="btn btn-outline-success mb-2 me-2" href="/AddInvoice">Add Invoice</a>
                </div>
            </div>
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <center>
                    <h3 class="text-success">{{message}}</h3>
                </center>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="content p-4 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12">
                <div class="card" id=''>
                    <div class="table-responsive p-2">
                        <table id="exampletab" class="table mt-0 table-striped table-card table-nowrap w-100">
                            <thead class="text-uppercase small text-muted">
                                <tr>
                                    <th>No</th>
                                    <th>Date</th>
                                    <th>Invoice No</th>
                                    <th>Party Name</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Call Type</th>
                                    <th>Amount</th>
                                    <th>GST Amount</th>
                                    <th>Total Amount</th>
                                    <th>Bill PDF</th>
                                    <th>Annexure</th>
                                    <th>HSN Code</th>
                                    <th>Soft Copy</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in dt %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.ndate}}</td>
                                    <td><p id="">{{i.InvoiceNo}}</p></td>
                                    <td>{{i.PartyName}}</td>
                                    <td>{% if i.FromDate %}{{i.FromDate}}{% else %}{% endif %}</td>
                                    <td>{% if i.ToDate %}{{i.ToDate}}{% else %}{% endif %}</td>
                                    <td>{{i.Type}}</td>
                                    <td>{{i.Amount}}</td>
                                    <td>{{i.GSTAmount}}</td>
                                    <td>{{i.TotalAmount}}</td>
                                    <td><a href="TaxInvoice/{{i.id}}" class="btn btn-success btn-sm"><i class="bi bi-printer fs-5"></i></a></td>
                                    <td><a href="ETOE/{{i.id}}" class="btn btn-primary btn-sm"><i class="bi bi-printer fs-5"></i></a></td>
                                    <td><a href="HSN/{{i.id}}" class="btn btn-info btn-sm"><i class="bi bi-printer fs-5"></i></a></td>
                                    <td><a href="SoftCopy/{{i.id}}" class="btn btn-warning btn-sm"><i class="bi bi-printer fs-5"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//Page content End//-->
{% endblock content %}
