{% extends 'main.html' %}
{% load static %}
{% block content %}
<!--//Page Toolbar//-->
<div class="toolbar p-4 bg-body">
    <div class="position-relative container-fluid px-0">
        <div class="row align-items-center position-relative">
            <div class="col-md-5 col-9 mb-4 mb-lg-0">
                <h3 class="mb-2">Party Name Details</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Party Name Details</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-7 col-3 text-md-end">
                <div class="d-flex justify-content-md-end align-items-center">
                    <button type="button" class="btn btn-outline-success mb-2 me-2" data-bs-toggle="modal"
                        data-bs-target="#examplescrolling">Add Party Name</button>
                </div>
            </div>
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <center><h3 class="text-success">{{message}}</h3></center>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="content p-4 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12">
                <div class="card" id=''>
                    <div class="table-responsive p-2">
                        <table id="exampletab" class="table mt-0 table-striped table-card table-nowrap">
                            <thead class="text-uppercase small text-muted">
                                <tr>
                                    <th>No</th>
                                    <th>Party Name</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.Name}}</td>
                                    <td><a class="btn btn-success mr-3" href="/EditPartyName/{{i.id}}"><i class="bi bi-pen"></i></a><a href="DeletePartyName/{{i.id}}" style="margin-left: 5px;" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//Page content End//-->
<!--//Page content//-->
<div class="content p-4 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                <div class=" overflow-hidden">
                    <div class="card-body">
                        <div class="modal fade" id="examplescrolling" tabindex="-1"
                            aria-labelledby="examplescrollingLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="examplescrollingLabel">Add Party Name</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <form method="post" class="p-3" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row mb-4 justify-content-center">
                                            <div class="col-md-11 ">
                                                <label for="" class="form-label"><b>Party Name</b></label>
                                                <input type="text" class="form-control" name="PartyName" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//Page content End//-->


{% endblock content %}